/* ------------------------------- FEATURED-PRODUCTS-CONTAINER ---------------------------- */
.featured-products-container {

    min-height: 400px;
}

.featured-products-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-primary);
}



/* ------------------------------- CAROUSEL-WRAPPER ---------------------------- */
.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-primary);
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}

.nav-button:hover {
    background-color: #fff;
    opacity: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.prev-button {
    left: -50px;
}

.next-button {
    right: -50px;
}



/* ------------------------------- PRODUCT-CAROUSEL ---------------------------- */
.product-carousel {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 1rem 0;
    -webkit-overflow-scrolling: touch;
}

.mini-product-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 250px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-primary);
}

.mini-product-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.mini-product-card img {
    width: 100%;
    height: 66.6%;
    object-fit: cover;
}



/* ------------------------------- MINI-CARD-INFO ---------------------------- */
.mini-card-info {
    padding: 1rem;
    text-align: left;
}

.mini-card-info p {
    margin: 0 0 2rem;
    font-size: 0.9rem;
    color: var(--text-secondary);
}

.mini-card-info span {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-primary);
}

.product-carousel::-webkit-scrollbar {
    display: none;
}



/* ------------------------------- MEDIA- QUERIES ---------------------------- */
@media (max-width: 768px) {
    .featured-products-container h3 {
        font-size: 1.5rem;
    }
    .prev-button {
        left: -20px;
    }

    .next-button {
        right: -20px;
    }

    .product-carousel {
        padding: 0.5rem;
    }

    .mini-product-card {
        width: 200px;
    }
}