.main-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.featured-products-container {
    flex-basis: 0;
    flex-grow: 2;
    max-width: 66.6%;
    background-color: #4f7cd68f ;
    padding: 4rem 4rem 4rem 9rem;
}

.campaigns-container {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 33.3%;
    padding: 4rem 8rem 4rem 3rem;
    background-color: #01012b6e;
}

/* -----------------------MEDIA QUERIES -------------------- */
@media (max-width: 768px) {

    .featured-products-container {        
        flex-basis: 100%;
        max-width: 100%;
        padding: 1.5rem;
    }

    .campaigns-container {
        flex-basis: 100%;
        max-width: 100%;
        padding: 1.5rem;
    }
}

@media (min-width: 1715px) {
    .featured-products-container {
        padding: 6rem 6rem 6rem 20rem;

    }

    .campaigns-container {
        padding: 6rem 12rem 6rem 5rem;

    }
}